Insheeption/Service References/ServiceReference1/SheepService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2793/SheepService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Insheeption" />
  <xs:import schemaLocation="http://localhost:2793/SheepService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LoadFlockByFlockID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flockID" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stopTime" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="login" nillable="true" type="q1:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFlockByFlockIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="LoadFlockByFlockIDResult" nillable="true" type="q2:Flock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFlockBySheepID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sheepID" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stopTime" type="xs:dateTime" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="login" nillable="true" type="q3:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFlockBySheepIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="LoadFlockBySheepIDResult" nillable="true" type="q4:Flock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllFlockIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="authentication" nillable="true" type="q5:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllFlockIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadAllFlockIDsResult" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHealthLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sheepID" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stopTime" type="xs:dateTime" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="login" nillable="true" type="q7:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHealthLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="GetHealthLogResult" nillable="true" type="q8:ArrayOfHealthStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="newUser" nillable="true" type="q9:Authentication" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Insheeption" minOccurs="0" name="adminAuthentication" nillable="true" type="q10:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>